.bloc {
  padding: 115px 100px 80px 120px;
  box-shadow: 0 100px 100px 0 rgba(236, 236, 236, 0.5);
  width: 85%;
  margin: auto;
  margin-top: -90px;
  position: relative;
  z-index: 100;
  background-color: #ffffff;
  .bloc__left {
    padding-right: 25px;
    h2 {
      font-family: Montserrat;
      font-weight: 600;
      text-align: justify;
      font-size: 37px;
      line-height: 48.76px;
    }
  }
  .bloc__right {
    display: flex;
    flex-direction: column;
    p {
      color: #807f7f;
      font-size: 19px;
      font-weight: 600;
      line-height: 25.87px;
      text-align: justify;
      margin-bottom: 40px;
    }
    a {
      background-image: linear-gradient(
        47.99deg,
        #2e8174 0%,
        #30a996 42.53%,
        #00ffd9 100%
      );
      border-radius: 15px;
      color: #000000;
      font-size: 16px;
      line-height: 21.79px;
      text-align: justify;
      margin: auto;
      text-decoration: none;
      font-weight: 700;
      padding: 14px 23px;
      transition: all 150ms ease-out;
    }
    a:hover {
      background-image: linear-gradient(
        47.99deg,
        #2e8174 100%,
        #30a996 42.53%,
        #00ffd9 100%
      );
      color: white;
    }
  }
}
@media only screen and (max-width: 1199px) {
  .bloc {
    width: 85%;
    margin-top: -80px;
    padding: 60px 40px 60px 40px;
    h2 {
      font-size: 28px !important;
      line-height: 34.13px !important;
      text-align: center !important;
      margin-bottom: 30px;
    }
    a {
      border-radius: 7px !important;
      font-size: 15px !important;
      font-weight: 700;
    }
    p {
      font-size: 17px;
      line-height: 23.15px;
      color: #b1b0b2 !important;
      font-weight: 600;
    }
  }
  .bloc__right {
    p {
      font-size: 17px !important;
      line-height: 23.15px;
    }
    a {
      padding: 15px 20px !important;
    }
  }
}
@media only screen and (max-width: 599px) {
  .bloc {
    padding: 40px 0px;
    margin-top: -145px;
    width: 80%;
    a {
      font-size: 12px !important;
      padding: 10px 14px !important;
      line-height: 16.34px !important;
    }
  }
  .bloc__left {
    h2 {
      font-size: 18px !important;
      line-height: 21.94px !important;
      margin-bottom: 15px;
    }
  }
  .bloc__right {
    padding-left: 30px;
    padding-right: 30px;
    p {
      font-size: 14px !important;
      line-height: 19.07px !important;
      margin-bottom: 20px !important;
    }
  }
}
