.main {
  background-color: #242726;
  height: 960px;
  position: relative;
  overflow: hidden;
}
.main__image {
  position: absolute;
  right: 0;
  top: 0;
}
.main__information {
  width: 450px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  h1 {
    color: #fff;
    line-height: 1.3;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 50px;
  }
  p {
    color: #bfbebf;
    font-size: 16px;
    margin-bottom: 0;
    // line-height: 1.4;
  }
}
.main__information__tech {
  margin-bottom: 60px;
}
.wrapper__btn {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border-radius: 15px;
  padding: 2px;
  margin: auto;
  button {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    width: 145px;
    background-color: #1d1f22;
  }
}
@media only screen and (max-width: 1199px) {
  .main {
    background-color: #1d1f22;
    height: 760px;
  }
  .main__information {
    margin-left: 50px;
    margin-top: 50px;
    width: 384px !important;
    h1 {
      line-height: 60.95px !important;
    }
    p {
      font-size: 17px;
    }
  }
  .main__information__tech {
    margin-bottom: 25px;
    text-align: justify;
  }
  .wrapper__btn {
    border-radius: 7px;
    button {
      border-radius: 7px;
    }
  }
  .main__image {
    width: 60%;
    height: 100%;

    img {
      width: 120%;
      height: 110%;
    }
  }
}
@media only screen and (max-width: 599px) {
  .main {
    height: 650px;
  }
  .wrapper__btn {
    transform: translateX(13px);
  }
  .main__image {
    width: 100%;
    height: 100%;
    top: 89px;
    right: -6px;
    img {
      width: 100%;
      height: 80%;
    }
  }
  .main__information {
    width: 306px !important;
    margin-left: 25px;
    margin-top: 35px;
    h1 {
      font-size: 40px;
      line-height: 48.76px;
      margin-bottom: 5px;
      z-index: 1;
      position: relative;
    }
  }
  .main__information__tech {
    line-height: 19.07px;
    margin-bottom: 0px;
    text-align: justify;
    padding-right: 10px;
    p {
      font-size: 14px;
    }
  }
  .wrapper__btn button {
    font-size: 12px;
    width: 108px;
    height: 37px;
  }
}
