.main {
  background-color: #242726;
  height: 960px;
  position: relative;
  overflow: hidden;
}
.main__image {
  position: absolute;
  right: 0;
  top: 0;
}
.main__information {
  width: 505px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 58px;
    line-height: 70.7px;
  }
  p {
    color: #bfbebf;
    margin-bottom: 0;
    font-size: 19px;
    text-align: justify;
    line-height: 25.87px;
  }
}
.main__information__tech {
  margin-bottom: 50px;
}
.wrapper__btn {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border-radius: 15px;
  padding: 2px;
  margin: auto;
  transition: all 150ms ease-out;
  button {
    padding: 12px 23px;
    border: none;
    outline: none;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #242726;
  }
}
.wrapper__btn:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 1199px) {
  .main {
    background-color: #1d1f22;
    height: 760px;
  }
  .main__information {
    margin-left: 50px;
    margin-top: 50px;
    width: 384px !important;
    h1 {
      line-height: 60.95px !important;
      font-size: 50px;
    }
    p {
      font-size: 17px;
    }
  }
  .main__information__tech {
    margin-bottom: 25px;
    text-align: justify;
  }
  .wrapper__btn {
    border-radius: 7px;
    button {
      border-radius: 7px;
    }
  }
  .main__image {
    width: 60%;
    height: 100%;

    img {
      width: 120%;
      height: 110%;
    }
  }
}
@media only screen and (max-width: 599px) {
  .main {
    height: 650px;
  }
  .wrapper__btn {
    transform: translateX(13px);
  }
  .main__image {
    width: 100%;
    height: 100%;
    top: 89px;
    right: -6px;
    img {
      width: 100%;
      height: 80%;
    }
  }
  .main__information {
    width: 306px !important;
    margin-left: 25px;
    margin-top: 35px;
    h1 {
      font-size: 40px;
      line-height: 48.76px;
      margin-bottom: 5px;
      z-index: 1;
      position: relative;
    }
  }
  .main__information__tech {
    line-height: 19.07px;
    margin-bottom: 0px;
    text-align: justify;
    padding-right: 10px;
    p {
      font-size: 14px;
    }
  }
  .wrapper__btn button {
    font-size: 12px;
    padding: 10px 15px;
  }
}
