nav {
  // background-color: white;
  padding-top: 4px !important;
  .nav__logo {
    width: 22%;
  }
  .nav__links {
    width: 80%;
    align-items: center;
    justify-content: space-around;
  }
  .nav_services {
    width: 55%;
  }
  .nav__contact__fr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    a {
      font-weight: 700;
      color: #1d1f22;
      text-decoration: none;
    }
    a:nth-child(2) {
      letter-spacing: -1px;
    }
    a:hover:nth-child(2) {
      color: #1d1f22;
    }
  }
  .logo {
    width: 158px;
    height: 63px;
    object-fit: contain;
  }
  ul {
    align-items: center;

    justify-content: space-between;
    width: 100%;
    justify-content: space-around;
  }
}
nav ul li {
  font-size: 16px;
  font-weight: 700;

  a {
    color: black !important;
  }
}
.btn__contact {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 0%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  border-radius: 15px;
  text-align: center;
  padding: 15px 23px;
  cursor: pointer;
  transition: all 150ms ease-out;
  line-height: 21.79px;
}
.btn__contact:hover {
  background-image: linear-gradient(
    47.99deg,
    #2e8174 100%,
    #30a996 42.53%,
    #00ffd9 100%
  );
  color: white;
}
@media only screen and (max-width: 1199px) {
  header {
    position: relative;
  }
  nav {
    padding-left: 50px;
    padding-top: 30px !important;
    padding-right: 20px;
    background-color: #1d1f22;
    margin-bottom: -1px;
  }
  .container-fluid {
    padding-left: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .nav__links {
    padding-left: 12px;
    position: relative;
    z-index: 100000;
    background-image: linear-gradient(
      47.99deg,
      rgb(46, 129, 116) 0%,
      rgb(48, 169, 150) 42.53%,
      rgb(0, 255, 217) 100%
    );
    a {
      color: white !important;
      font-weight: 600 !important;
    }
  }
  .navbar-toggler-icon {
    background-image: url(../assets/Burger.png) !important;
    width: 90px;
    height: 45px;
  }
  .nav__contact__fr {
    flex-direction: column;
    align-items: flex-start !important;
    width: auto !important;
    a {
      padding-left: 0;
    }
    .btn__contact {
      background-image: none;
      text-align: left;
      padding: 8px 0px 8px 0;
    }
  }
  nav ul {
    align-items: normal;
  }
}
@media only screen and (max-width: 599px) {
  .logo {
    width: 100px !important;
  }
  .navbar-toggler-icon {
    width: 60px;
  }
  .navbar {
    padding-top: 10px !important;
    padding-left: 30px;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__logo {
    padding-left: 30px;
  }
}
