* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
}

nav {
  padding-top: 4px !important;
}

nav .nav__logo {
  width: 22%;
}

nav .nav__links {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav_services {
  width: 55%;
}

nav .nav__contact__fr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
}

nav .nav__contact__fr a {
  font-weight: 700;
  color: #1d1f22;
  text-decoration: none;
}

nav .nav__contact__fr a:nth-child(2) {
  letter-spacing: -1px;
}

nav .nav__contact__fr a:hover:nth-child(2) {
  color: #1d1f22;
}

nav .logo {
  width: 158px;
  height: 63px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  font-size: 16px;
  font-weight: 700;
}

nav ul li a {
  color: black !important;
}

.btn__contact {
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  border-radius: 15px;
  text-align: center;
  padding: 15px 23px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  line-height: 21.79px;
}

.btn__contact:hover {
  background-image: linear-gradient(47.99deg, #2e8174 100%, #30a996 42.53%, #00ffd9 100%);
  color: white;
}

.nav-item {
  position: relative;
  overflow: hidden;
}

.nav-item:hover::before {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100px;
  padding: 2px;
  bottom: 0;
  background-color: #00ffd9;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

@media only screen and (max-width: 1199px) {
  header {
    position: relative;
  }
  nav {
    padding-left: 50px;
    padding-top: 30px !important;
    padding-right: 20px;
    background-color: #1d1f22;
    margin-bottom: -1px;
  }
  .container-fluid {
    padding-left: 0;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .nav__links {
    padding-left: 12px;
    position: relative;
    z-index: 100000;
    background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  }
  .nav__links a {
    color: white !important;
    font-weight: 600 !important;
  }
  .navbar-toggler-icon {
    background-image: url(../assets/Burger.png) !important;
    width: 90px;
    height: 45px;
  }
  .nav__contact__fr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    width: auto !important;
  }
  .nav__contact__fr a {
    padding-left: 0;
  }
  .nav__contact__fr .btn__contact {
    background-image: none;
    text-align: left;
    padding: 8px 0px 8px 0;
  }
  nav ul {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    width: 100px;
  }
}

@media only screen and (max-width: 599px) {
  .logo {
    width: 100px !important;
  }
  .navbar-toggler-icon {
    width: 60px;
  }
  .navbar {
    padding-top: 10px !important;
    padding-left: 30px;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .nav__logo {
    padding-left: 30px;
  }
}

.main {
  background-color: #242726;
  height: 960px;
  position: relative;
  overflow: hidden;
}

.main__image {
  position: absolute;
  right: 0;
  top: 0;
}

.main__information {
  width: 505px;
  padding: 10px;
  margin-left: 10%;
  margin-top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__information h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 70.7px;
}

.main__information p {
  color: #bfbebf;
  margin-bottom: 0;
  font-size: 19px;
  text-align: justify;
  line-height: 25.87px;
}

.main__information__tech {
  margin-bottom: 50px;
  z-index: 1;
}

.wrapper__btn {
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  border-radius: 15px;
  padding: 2px;
  margin: auto;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.wrapper__btn button {
  padding: 12px 23px;
  border: none;
  outline: none;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #242726;
}

.wrapper__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1199px) {
  .main {
    background-color: #1d1f22;
    height: 760px;
  }
  .main__information {
    margin-left: 50px;
    margin-top: 50px;
    width: 384px !important;
  }
  .main__information h1 {
    line-height: 60.95px !important;
    font-size: 50px;
  }
  .main__information p {
    font-size: 17px;
  }
  .main__information__tech {
    margin-bottom: 25px;
    text-align: justify;
  }
  .wrapper__btn {
    border-radius: 7px;
  }
  .wrapper__btn button {
    border-radius: 7px;
  }
  .main__image {
    width: 60%;
    height: 100%;
  }
  .main__image img {
    width: 120%;
    height: 110%;
  }
}

@media only screen and (max-width: 599px) {
  .main {
    height: 650px;
  }
  .wrapper__btn {
    -webkit-transform: translateX(13px);
            transform: translateX(13px);
  }
  .main__image {
    width: 100%;
    height: 100%;
    top: 89px;
    right: -6px;
  }
  .main__image img {
    width: 100%;
    height: 80%;
  }
  .main__information {
    width: 306px !important;
    margin-left: 25px;
    margin-top: 35px;
  }
  .main__information h1 {
    font-size: 40px;
    line-height: 48.76px;
    margin-bottom: 5px;
    z-index: 1;
    position: relative;
  }
  .main__information__tech {
    line-height: 19.07px;
    margin-bottom: 0px;
    text-align: justify;
    padding-right: 10px;
  }
  .main__information__tech p {
    font-size: 14px;
  }
  .wrapper__btn button {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.bloc {
  padding: 115px 100px 80px 120px;
  -webkit-box-shadow: 0 100px 100px 0 rgba(236, 236, 236, 0.5);
          box-shadow: 0 100px 100px 0 rgba(236, 236, 236, 0.5);
  width: 85%;
  margin: auto;
  margin-top: -90px;
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}

.bloc .bloc__left {
  padding-right: 25px;
}

.bloc .bloc__left h2 {
  font-family: Montserrat;
  font-weight: 600;
  text-align: justify;
  font-size: 37px;
  line-height: 48.76px;
}

.bloc .bloc__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc .bloc__right p {
  color: #807f7f;
  font-size: 19px;
  font-weight: 600;
  line-height: 25.87px;
  text-align: justify;
  margin-bottom: 40px;
}

.bloc .bloc__right a {
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  border-radius: 15px;
  color: #000000;
  font-size: 16px;
  line-height: 21.79px;
  text-align: justify;
  margin: auto;
  text-decoration: none;
  font-weight: 700;
  padding: 14px 23px;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.bloc .bloc__right a:hover {
  background-image: linear-gradient(47.99deg, #2e8174 100%, #30a996 42.53%, #00ffd9 100%);
  color: white;
}

@media only screen and (max-width: 1199px) {
  .bloc {
    width: 85%;
    margin-top: -80px;
    padding: 60px 40px 60px 40px;
  }
  .bloc h2 {
    font-size: 28px !important;
    line-height: 34.13px !important;
    text-align: center !important;
    margin-bottom: 30px;
  }
  .bloc a {
    border-radius: 7px !important;
    font-size: 15px !important;
    font-weight: 700;
  }
  .bloc p {
    font-size: 17px;
    line-height: 23.15px;
    color: #b1b0b2 !important;
    font-weight: 600;
  }
  .bloc__right p {
    font-size: 17px !important;
    line-height: 23.15px;
  }
  .bloc__right a {
    padding: 15px 20px !important;
  }
}

@media only screen and (max-width: 599px) {
  .bloc {
    padding: 40px 0px;
    margin-top: -145px;
    width: 80%;
  }
  .bloc a {
    font-size: 12px !important;
    padding: 10px 14px !important;
    line-height: 16.34px !important;
  }
  .bloc__left h2 {
    font-size: 18px !important;
    line-height: 21.94px !important;
    margin-bottom: 15px;
  }
  .bloc__right {
    padding-left: 30px;
    padding-right: 30px;
  }
  .bloc__right p {
    font-size: 14px !important;
    line-height: 19.07px !important;
    margin-bottom: 20px !important;
  }
}

.line {
  width: 180px;
  height: 2px;
  margin-left: 9%;
  margin-top: 70px;
  margin-bottom: 70px;
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
}

.bloc__services__container {
  padding-bottom: 90px;
}

.bloc__services__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloc__services__main h2 {
  text-align: justify;
  margin-bottom: 2em;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 48.76px;
  width: 780px;
  max-width: 90%;
  margin: auto;
  font-weight: 600;
  margin-bottom: 70px;
}

.bloc__services__main a {
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  border-radius: 15px;
  padding: 16px 24px;
  color: black;
  margin: auto;
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.bloc__services__main a:hover {
  background-image: linear-gradient(47.99deg, #2e8174 100%, #30a996 42.53%, #00ffd9 100%);
  color: white;
}

.bloc__services {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc__services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc__services .service img {
  width: 127px;
  height: 127px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bloc__services .service h3 {
  color: #000000;
  font-family: Montserrat;
  font-size: 25px;
  line-height: 30px;
  width: 241px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 23px;
  margin-top: 10px;
}

.bloc__services .service p {
  color: #807f7f;
  font-size: 19px;
  line-height: 25.87px;
  width: 80%;
  text-align: justify;
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  .line {
    width: 97px;
  }
  .bloc__services__container {
    padding-bottom: 60px;
  }
  .bloc__services__main h2 {
    font-size: 28px;
    line-height: 34.13px;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .bloc__services__main a {
    margin-top: 0;
    border-radius: 7px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", sans-serif;
  }
  .service {
    margin-bottom: 45px;
  }
  .service p {
    font-size: 17px !important;
    line-height: 23.15px !important;
    width: 75% !important;
  }
  .service img {
    width: 100px !important;
    height: 100px !important;
  }
  .service h3 {
    font-size: 20px !important;
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 599px) {
  .bloc__services__container {
    padding-bottom: 40px;
  }
  .line {
    margin: 50px auto 40px auto;
    width: 55px;
  }
  .bloc__services__main h2 {
    font-size: 18px;
    line-height: 21.94px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .bloc__services__main a {
    font-size: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 14px;
  }
  .service {
    margin-bottom: 10px;
  }
  .service img {
    width: 70px !important;
    height: 70px !important;
  }
  .service h3 {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .service p {
    font-size: 14px !important;
    line-height: 19.07px !important;
    width: 90% !important;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .bloc__services {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

footer {
  background-color: #242726;
  padding-top: 50px;
  height: 240px;
}

footer h4 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 19px;
  margin-bottom: 20px;
}

footer .footer__logo img {
  width: 258px;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  margin-top: 15px;
  margin-left: 60px;
}

.footer__input_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input_wrapper p {
  color: #818181;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  margin-top: 50px;
}

.footer__input_wrapper .footer__input {
  background-image: linear-gradient(47.99deg, #2e8174 0%, #30a996 42.53%, #00ffd9 100%);
  padding: 3px;
  padding-right: 2px;
  border-radius: 15px;
}

.footer__input_wrapper .footer__input input {
  padding: 14px;
  padding-left: 30px;
  width: 280px;
  border-top-left-radius: 15px;
  outline: none;
  border: none;
  border-bottom-left-radius: 15px;
}

.footer__input_wrapper .footer__input input::-webkit-input-placeholder {
  color: #bcbaba;
  font-family: Montserrat;
  font-size: 19px;
  padding-left: 0px;
  font-weight: 600;
}

.footer__input_wrapper .footer__input input:-ms-input-placeholder {
  color: #bcbaba;
  font-family: Montserrat;
  font-size: 19px;
  padding-left: 0px;
  font-weight: 600;
}

.footer__input_wrapper .footer__input input::-ms-input-placeholder {
  color: #bcbaba;
  font-family: Montserrat;
  font-size: 19px;
  padding-left: 0px;
  font-weight: 600;
}

.footer__input_wrapper .footer__input input::placeholder {
  color: #bcbaba;
  font-family: Montserrat;
  font-size: 19px;
  padding-left: 0px;
  font-weight: 600;
}

.footer__input_wrapper .xoxo {
  color: #d8d8d8;
  font-size: 19px;
  padding: 12px 23px 14px 25px;
  margin-left: -5px;
  background-color: #242726;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer__social-media a {
  margin-right: 15px;
}

.footer__social-media img {
  width: 60px;
  height: auto;
}

.footer__social-media-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1199px) {
  footer {
    position: relative;
    height: 290px;
    background-color: #1d1f22;
  }
  footer p {
    position: absolute;
    bottom: 40px;
    right: 50px;
  }
  footer h4 {
    position: absolute;
    font-size: 17px !important;
    left: calc(50% - 140px);
    top: 50px;
  }
  .footer__social-media-wrapper {
    display: none;
  }
  .footer__input {
    position: absolute;
    left: calc(50% - 160px);
    top: calc(50% - 50px);
  }
  .footer__input input {
    width: 225px !important;
    padding: 12px !important;
  }
  .footer__input input::-webkit-input-placeholder {
    font-size: 17px !important;
    padding-left: 10px !important;
  }
  .footer__input input:-ms-input-placeholder {
    font-size: 17px !important;
    padding-left: 10px !important;
  }
  .footer__input input::-ms-input-placeholder {
    font-size: 17px !important;
    padding-left: 10px !important;
  }
  .footer__input input::placeholder {
    font-size: 17px !important;
    padding-left: 10px !important;
  }
  .footer__logo img {
    width: 143px !important;
    height: 57px !important;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    bottom: 40px;
    left: 0px;
  }
  .xoxo {
    padding: 10px 20px 12px 20px !important;
  }
}

@media only screen and (max-width: 599px) {
  footer {
    height: 211px;
    padding-top: 0;
  }
  footer h4 {
    top: 40px;
    font-size: 14px !important;
    left: calc(50% - 115px);
  }
  footer p {
    bottom: 20px;
    right: 55px;
  }
  .footer__logo img {
    width: 78px !important;
    height: 31px !important;
    bottom: 30px;
    margin-left: 50px !important;
  }
  .footer__input {
    border-radius: 7px;
    left: auto;
    top: 75px;
    border-radius: 11px !important;
  }
  .footer__input input {
    padding: 7px !important;
    border-top-left-radius: 9px !important;
    border-bottom-left-radius: 9px !important;
    width: 188px !important;
  }
  .footer__input input::-webkit-input-placeholder {
    font-size: 14px !important;
  }
  .footer__input input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .footer__input input::-ms-input-placeholder {
    font-size: 14px !important;
  }
  .footer__input input::placeholder {
    font-size: 14px !important;
  }
  .xoxo {
    padding: 11px 16px 9px 18px !important;
    border-top-right-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
    font-size: 14px !important;
    font-weight: 600;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #e3e2e9;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e2e9;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #30a996;
}
/*# sourceMappingURL=style.css.map */